body {
    margin: 0;
    font-family: 'Gayathri', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app {
    background: darkgray; /*rgb(50, 88, 40);*/
    height: 100vh;
}

.btn:focus, .btn.focus { box-shadow: none; }

.btn-success, .btn-danger {
    background-color: rgb(110, 110, 110);
    border-color: rgb(80, 80, 80);
}

.in-out-btn {
    background-color: rgb(170, 5, 5);
    padding: 1rem;
}

.in-out-btn.active, .in-out-btn.hover {
    background-color: green;
    border-color: green;
}

.in-out-btn-toggle.active {
    height: 4rem;
}

.in-out-btn-toggle {
    height: 3rem;
}

.row {
    margin-bottom: 1rem;
}

.sticky-note {
    background-color: rgb(255, 249, 171);
    border-radius: 0;
    max-width: 30rem;
    -moz-box-shadow: 4px 4px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 4px 4px 7px rgba(33,33,33,.7);
    box-shadow: 4px 4px 7px rgba(33,33,33,.7);
}

.sticky-note-title {
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin: 0;
    outline: none;
    padding: .1rem;
    width: 100%;
}

.sticky-note-text {
    background-color: transparent;
    border: none;
    outline: none;
    padding: .1rem;
    resize: none;
    transition: none;
    width: 100%;
}

/* #dashboard-add-dropdown, .dashboard-add-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem .5rem;
} */