body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app {
    background: lightgray;
    height: 100vh;
    text-align: center;
}

.in-out-button {
    width: 100%;
}

.row {
    margin-bottom: 1rem;
}

.spotify-img {
    height: 4rem;
    width: 4rem;
}

.spotify-item-title {
    font-size: 1rem;
}

.spotify-item-subtitle {
    color: gray;
    font-size: 0.8rem;
}

.queue {
    height: 30vh;
    overflow-y: scroll;
}
