body {
    margin: 0;
    font-family: 'Gayathri', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app {
    background: darkgray; /*rgb(50, 88, 40);*/
    height: 100vh;
    text-align: center;
}

.btn:focus, .btn.focus { box-shadow: none; }

.btn-success, .btn-danger {
    background-color: rgb(110, 110, 110);
    border-color: rgb(80, 80, 80);
}

.row {
    margin-bottom: 1rem;
}

#dashboard-add-dropdown, .dashboard-add-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem .5rem;
}